<div id="<%= dom_id dish %>">
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= dish.details %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dish.user_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= dish.public %>
  </p>

</div>
