%body.element-bg
  .container
    .row
      .col-md-7
      .col-md-4
        %h2= @dish.name
        .element
          %h4 added by #{@dish.user.nick}
          %h4= @dish.description
          = link_to 'Clone', clone_dish_path, method: :post
          - if @dish.user == current_user
            = link_to 'Edit dish', edit_dish_path
            = link_to 'Delete dish', dish_path, method: :delete
            = link_to 'Add to MENU', new_dish_menu_item_path(@dish)
